{% extends "esqueleto.html" %}

{% block contenido %}
<div class="container">
    <h2>Lista de videojuegos</h2>
    <a href="/videojuegos/nuevo">Añadir videojuego</a>
</div>

<div class="tabla">
<table class="table table-hover table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">Videojuego</th>
            <th scope="col">Puntuación</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>

        {% if videojuegos.count() > 0 %}
            {% for videojuego in videojuegos %}
                <tr>
                    <td><a href="comentarios/lista?vdj={{ videojuego.key.urlsafe() }}">
                        {{ videojuego.titulo}}</b> </a></td>
                    <td> {{videojuego.puntuacion}}/100</td>
                    <td>
                        (<a href="videojuegos/elimina?id={{ videojuego.key.urlsafe() }}">Borrar</a>)
                        (<a href="videojuegos/modifica?id={{ videojuego.key.urlsafe() }}">Editar</a>)
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <p class="vacio"><b>No hay videojuegos para valorar</b></p>
        {% endif %}
</div>
{% endblock %}