{% extends "esqueleto.html" %}


{% block contenido %}


<div class="container">
    <h2>{{ videojuego.titulo }} - {{ videojuego.puntuacion }}/100</h2>

    <p>{{ videojuego.descripcion }}</p>
    <h3>Comentarios</h3>
    <a href="/comentarios/nuevo?vdj={{ videojuego.key.urlsafe() }}">Añadir comentario</a>
</div>

{% if comentarios.count() > 0 %}
    {% for comentario in comentarios %}
        <div class="comentario">
            <div>
                {{ comentario.usuario }} {{ comentario.hora.strftime("%A %d %B %Y %I:%M") }} {{ comentario.puntuacion }}/100
            </div>

            <div>
                {{ comentario.texto }}
            </div>
            <div>
                (<a href="/comentarios/elimina?id={{ comentario.key.urlsafe() }}&vdj={{ videojuego.key.urlsafe() }}">Borrar</a>)
            </div>
        </div>
        <br>
    {% endfor %}
<a href="/" class="card-link">Volver</a>
{% else %}
    <p><b>No hay comentarios sobre este videojuego</b></p>
{% endif %}
{% endblock %}