{% extends "esqueleto.html" %}

{% block contenido %}
<h1>{{ videojuego.titulo }} - {{ videojuego.puntuacion }}/100</h1>

<p>{{ videojuego.descripcion }}</p>

<h2>Comentarios</h2>
        
<p>
    <a href="/comentarios/nuevo?vdj={{ videojuego.key.urlsafe() }}">Añadir comentario</a>
</p>

{% if comentarios.count() > 0 %}
    {% for comentario in comentarios %}
        <div>
            {% include "entrada_comentario.html" %}
            (<a href="comentarios/elimina?id={{ comentario.key.urlsafe() }}">Borrar</a>)
            (<a href="comentarios/modifica?id={{ comentario.key.urlsafe() }}">Editar</a>)
        </div>
    {% endfor %}
{% else %}
    <p><b>No hay comentarios sobre este videojuego</b></p>
{% endif %}
{% endblock %}