{% extends "esqueleto.html" %}


{% block contenido %}
    {% if usr %}
    <div class="log">
        Puede hacer <a href="{{ url_usr }}">logout</a> siempre que lo desee.
    </div>
    {% else %}
    <div class="log">
        ¡Haga <a href="{{ url_usr }}">login</a> para poder comentar y valorar sus videojuegos favoritos!
    </div>
    {% endif %}

<div class="container">
    <h2>{{ videojuego.titulo }} - {{ videojuego.puntuacion }}/100</h2>

    <p class="center">{{ videojuego.descripcion }}</p>
    <h3>Comentarios</h3>
    {% if usr %}
    <a href="/comentarios/nuevo?vdj={{ videojuego.key.urlsafe() }}">Añadir comentario</a>
    {% endif %}
</div>

{% if comentarios.count() > 0 %}
    {% for comentario in comentarios %}
        <div class="comentario">
            <div>
                <span class="usr">{{ comentario.usuario }}</span></span><span class="nota">{{ comentario.puntuacion }}/100</span><span class="hora">{{ comentario.hora.strftime("%A %d %B %Y %I:%M") }}</span>
                <span class="edit">{% if comentario.editado %}Editado {% endif %}</span>
            </div>

            <div class="texto">
                {{ comentario.texto }}
            </div>
            {% if usr %}
                {% if usr.email()|string() == comentario.usuario or admin %}
            <div class="opcionComentario">
                (<a href="/comentarios/elimina?id={{ comentario.key.urlsafe() }}&vdj={{ videojuego.key.urlsafe() }}">Borrar</a>)
                (<a href="/comentarios/modifica?id={{ comentario.key.urlsafe() }}&vdj={{ videojuego.key.urlsafe() }}">Editar</a>)
            </div>
                {% endif %}
            {% endif %}
        </div>
        <br>
    {% endfor %}
<a href="/" class="volver">Volver</a>
{% else %}
    <p class="vacio"><b>No hay comentarios sobre este videojuego</b></p>
    <a href="/" class="volver">Volver</a>
{% endif %}
{% endblock %}