{% extends "esqueleto.html" %}

{% block contenido %}
<div class="formStyle">
<form id="frmModificaComentario"
      method="post"
      action="/comentarios/modifica?vdj={{ clave_videojuego }}&id={{ clave_comentario }}"
      onsubmit="return check()">

    <h2>Edita tu comentario</h2>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="edUsuario">Usuario: </label>
        <div class="col-sm-7">
            <input class="form-control" type="text" id="edUsuario" name="edUsuario"
                   readonly value="{{ usr.email() }}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="edPuntuacion">Puntuación(de 1 a 100): </label>
        <div class="col-sm-7">
            <input class="form-control" type="number" id="edPuntuacion" name="edPuntuacion" min="1" max="100"
                value="{{ comentario.puntuacion }}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="edTexto">Texto: </label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="10" cols="50" id="edTexto" name="edTexto">{{ comentario.texto }}
            </textarea>
        </div>
    </div>

    <div class="boton">
        <button class="btn btn-outline-primary" type="submit">Editar</button>
    </div>

</form>
</div>

<script>
    function check()
    {
        const edTitulo = document.getElementById( "edTitulo" );
        const edDescripcion = document.getElementById( "edDescripcion" );

        return ( edTitulo.value.trim().length > 0
            && edDescripcion.value.trim().length > 0 );
    }

</script>
{% endblock %}