{% extends "esqueleto.html" %}

{% block contenido %}
<form id="frmModificaComentario"
      method="post"
      action="/comentarios/modifica?vdj={{ clave_videojuego }}"
      onsubmit="return check()">

    <h1>Edita comentario</h1>

    <p>
        <label for="edUsuario">Usuario: </label>
        <input type="text" id="edUsuario" name="edUsuario" readonly
                value="{{ comentario.usuario }}"/>
    </p>

    <p>
        <label for="edPuntuacion">Puntuación(de 0 a 100): </label>
        <input type="number" id="edPuntuacion" name="edPuntuacion" min="0" max="100"
               value="{{ comentario.puntuacion }}"/>
    </p>

    <p>
        <label for="edTexto">Texto: </label>
        <textarea rows="10" cols="50" id="edTexto" name="edTexto">{{ comentario.texto }}</textarea>
    </p>

    <p><input type="submit" value="Edita"></p>

</form>

<script>
    function check()
    {
        const edTexto = document.getElementById( "edTexto" );
        const edPuntuacion = document.getElementById( "edPuntuacion" );

        return ( edTexto.value.trim().length > 0
            && edPuntuacion.value.trim().length > 0 );
    }

</script>
{% endblock %}