{% extends "esqueleto.html" %}

{% block contenido %}
<form id="frmNuevoVideojuego"
      method="post"
      action="/videojuegos/nuevo"
      onsubmit="return check()">

    <h1>Nuevo videojuego</h1>

    <p>
        <label for="edTitulo">Título: </label>
        <input type="text" id="edTitulo" name="edTitulo"
                placeholder="Título..."/>
    </p>

    <p>
        <label for="edDescripcion">Descripción: </label>
        <textarea rows="10" cols="50" id="edDescripcion" name="edDescripcion"
                  placeholder="Descripción..."></textarea>
    </p>

    <p><input type="submit" value="Añadir"></p>

</form>

<script>
    function check()
    {
        const edTitulo = document.getElementById( "edTitulo" );
        const edDescripcion = document.getElementById( "edDescripcion" );

        return ( edTitulo.value.trim().length > 0
            && edDescripcion.value.trim().length > 0 );
    }

</script>
{% endblock %}