{% extends "esqueleto.html" %}

{% block contenido %}
<div class="formStyle">
<form id="frmNuevoComentario"
      method="post"
      action="/comentarios/nuevo?vdj={{ clave_videojuego }}"
      onsubmit="return check()">

    <h2>Nuevo comentario</h2>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="edUsuario">Usuario: </label>
        <div class="col-sm-7">
            <input class="form-control" type="text" id="edUsuario" name="edUsuario" readonly value="ByPacoHD"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="edPuntuacion">Puntuación(de 0 a 100): </label>
        <div class="col-sm-7">
            <input class="form-control" type="number" id="edPuntuacion" name="edPuntuacion" min="0" max="100"
                placeholder="75"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="edTexto">Texto: </label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="10" cols="50" id="edTexto" name="edTexto" placeholder="Texto..."></textarea>
        </div>
    </div>

    <div class="boton">
        <button class="btn btn-outline-primary" type="submit">Añadir</button>
        <a href="/comentarios/lista?vdj={{ clave_videojuego }}" class="btn btn-outline-secondary">Volver</a>
    </div>


</form>
</div>

<script>
    function check()
    {
        const edPuntuacion = document.getElementById( "edPuntuacion" );
        const edTexto = document.getElementById( "edTexto" );

        return ( edPuntuacion.value.trim().length > 0
            && edTexto.value.trim().length > 0 );
    }

</script>
{% endblock %}