{% extends "esqueleto.html" %}

{% block contenido %}
<div class="formStyle">
<form id="frmNuevoVideojuego"
      method="post"
      action="/videojuegos/nuevo"
      onsubmit="return check()">

    <h2>Nuevo videojuego</h2>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="edTitulo">Título: </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="edTitulo" name="edTitulo" placeholder="Título..."/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="edDescripcion">Descripción: </label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="10" cols="50" id="edDescripcion" name="edDescripcion"
                  placeholder="Descripción..."></textarea>
        </div>
    </div>

    <div class="boton">
        <button class="btn btn-outline-primary" type="submit">Añadir</button>
        <a href="/" class="btn btn-outline-secondary">Volver</a>
    </div>


</form>
</div>
<script>
    function check()
    {
        const edTitulo = document.getElementById( "edTitulo" );
        const edDescripcion = document.getElementById( "edDescripcion" );

        return ( edTitulo.value.trim().length > 0
            && edDescripcion.value.trim().length > 0 );
    }

</script>
{% endblock %}